/* Root Colors */
:root {
    --primary-color: #0081a7;
    --secondary-color: #fed9b7;
    --dark-color: #00afb9;
    --light-color: #fdfcdc;
    --pink-color: #f07167;
}

/* font styling */
body {
    background-color: rgb(27, 27, 27);
}

h1,
h2,
h3 {
    color: var(--secondary-color);
    font-family: 'IM Fell Great Primer SC', serif;
}

h1,
.app-name {
    font-size: 2.5em;
}

h4 {
    color: var(--dark-color);
    font-family: 'Gideon Roman', cursive;
    font-weight: 800;
}

h5 {
    color: var(--light-color);
    font-family: 'Gideon Roman', cursive;
}

p {
    font-family: 'Gideon Roman', cursive;
}

/* a tag styling */
a {
    color: var(--secondary-color);
}

a:hover {
    color: var(--dark-color);
}

/* button styling */
.btn {
    color: var(--secondary-color);
    outline: var(--dark-color);
}

.btn:hover {
    color: var(--dark-color);
    background-color: var(--secondary-color);
    font-weight: 500;
}

/* navbar Styling having to overide bootstrap */
#app-name-icon {
    color: var(--light-color);
}

nav {
    background-color: var(--dark-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--light-color);
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--pink-color);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: var(--secondary-color);
}

.navbar-dark li a {
    font-size: 1.2rem;
}

nav img {
    width: 30px;
    height: 28px;
}

/* body styling */
body {
    color: var(--dark-color);
}

/* Container styling */
main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

/* Main Body Styling */

.app-logo img {
    width: 85%;
}

.inBolden {
    font-weight: bold;
}

/* Tech Icons styling */
#html-icon {
    color: #FF5733;
}

#css-icon {
    color: #2965f1;
}

#js-icon {
    color: #f0db4f;
}

#bootstrap-icon {
    color: #563d7c;
}

.fa-check-square {
    color: var(--secondary-color);
}


/* Prism custom JS */
code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

/* footer styling */
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer {
    color: var(--light-color);
    background-color: var(--dark-color);
}

.email {
    font-size: 1rem;
}

footer,
img {
    width: 180px;
}

footer .social>a {
    color: var(--light-color);
    opacity: 0.7;
}

footer .social>a:hover {
    color: var(--pink-color);
    opacity: 0.9;
}